
.container{
    margin: 0 auto;
    width: 500px;
    height: 500px;
}
.count_container{
    margin: 200px;
}
h1{
    font-size: 250%;
}
.btn{
    width: 100px;
    height: 50px;
    background-color: green;
    border: 2px black solid;
}