<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <div class="count_container">
            <h1> counter</h1>
        <p> {{count}} times</p>
        <form action ="/destroy_session" method='post'>
            <input class="btn" type="submit" value="Reset"/>
        </form>
        </div>
    </div>

</body>

</html>